* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.stage {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-sec {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

.controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    /*z-index: 101;*/
    width: 100%;
    text-align: center;
}
.controller-unit{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    background-color: #aaa;
    border-radius: 50%;
    transform: scale(.5);
    vertical-align: middle;
    transition: all .6s ease-in-out;
}
.is-center{
    transform: scale(1);
    background-color: #888;
    border-radius: 50%;

}
.is-center::after{
    font-family: 'icons-turn-arrow';
    content: "\e600";
    color: #fff;
    line-height: 30px;

    /*-moz-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}
.controller-nav .is-inverse{
    background-color: #555;
    transform: rotateY(180deg);
}
@font-face {
    font-family: 'icons-turn-arrow';
    src: url('../fonts/icons/turn-arrow.eot'); /* IE9+ */
    src: url('../fonts/icons/turn-arrow.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/icons/turn-arrow.woff') format('woff'), /* chrome、firefox */
         url('../fonts/icons/turn-arrow.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url('../fonts/icons/turn-arrow.svg#fontname') format('svg'); /* iOS 4.1- */
}

figure {
    background: #fff;
}

.img-figure {
    width: 320px;
    height: 360px;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    transform-origin: 0 50% 0;
    transform-style: preserve-3d;
    transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
}

figcaption {
    text-align: center;
}

.img-title {
    margin-top: 20px;
    color: #a7a0a2;
}

.is-inverse {
    transform: translate(320px) rotateY(180deg);
}

.img-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    overflow: auto;
    color: #a7a0a2;
    font-size: 22px;
    line-height: 1.25;
    text-align: left;
    background-color: #fff;
    box-sizing: border-box;
    transform: rotateY(180deg) translateZ(1px);
    backface-visibility: hidden;
}
