*{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
}
.stage{
	position: relative;
	width: 100%;
	height: 100%;
}
.img-sec{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ddd;
}
.controller-nav{
	position: absolute;
	left: 0;
	bottom: 30px;
	/*z-index: 101;*/

}

